@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500&family=Prompt:wght@400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400&display=swap");
html {
  scroll-behavior: smooth;
}
@layer base {
  body {
    /* set proximity */
    @apply bg-[#ffe7cc];
    /* @apply overflow-x-hidden; */
  }
  #root {
    height: 100vh;
    max-height: 100vh;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    max-width: 100vw;
    /* scroll-snap-points-y: repeat(100vh); */
    /* @apply overflow-x-hidden; */
  }
  h1 {
    @apply text-6xl;
    @apply text-center;
    @apply text-blue-700;
    @apply w-screen;
    @apply flex-shrink;
    @apply relative;
    @apply z-10;
    font-family: "Prompt", sans-serif;
  }
  h3 {
    @apply text-blue-800;
    @apply text-2xl;
    @apply text-center;
    font-family: "Libre Franklin", sans-serif;
  }
  p,
  li {
    @apply text-lg;
    font-family: "Source Sans Pro", sans-serif;
  }
}
.inverted {
  @apply skew-x-[45deg];
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-blue-800;
}

::-webkit-scrollbar-thumb {
  background-color: #ffe7cc;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.sub-hero-text {
  margin-top: 1rem;
  margin-bottom: auto;
}

.hero-text {
  @apply text-6xl;
  margin: 0px 10vw;
  text-align: center;
  width: 80vw;
}
#visual-svg {
  position: absolute;
  z-index: -1;
}
.wrapper {
  @apply flex items-center justify-center flex-col;
  height: 100vh;
  z-index: -1;
  position: absolute;
  background-image: url(./assets/logo.png);
  /* add image padding */
  background-size: contain;
  max-height: 100vh;
  width: 100%;
  background-repeat: repeat;
  animation: marquee 60s infinite linear;
  filter: blur(10px);
}
@keyframes marquee {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -8190px -8190px;
  }
}
.move {
  transition: all 500ms ease-in-out;
}
.side {
  max-width: 100%;
}
.bottom {
  @apply mb-0;
}
#facebook,
#Telegram,
#Mail,
#Github {
  overflow: visible;
  /* fill: #4267B2; // original */ /* display: unset; */
  @apply w-20;
  @apply h-20;
  @apply stroke-blue-700;
  /* @apply fill-blue-800; */
  fill-opacity: 1;
  stroke-width: 30;
  stroke-dasharray: 5000;
  animation-delay: 500ms;
  animation: removeDash 1s forwards;
  display: unset;
}
#facebook:hover,
#Telegram:hover,
#Mail:hover,
#Github:hover {
  animation: hovertest 2s forwards;
}
.svg-btn {
  min-width: 64px;
  min-height: 64px;
}
.svg-btn:after {
  content: attr(data-text);
  display: flex;
  text-align: left;
  width: inherit;
  position: relative;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-bottom: 10px;
}
.svg-btn:hover:after {
  opacity: 1;
}
.projects {
  flex-direction: column;
  flex-wrap: nowrap !important;
}
.swiper-projects {
  width: 100%;
  flex-grow: 1;
  height: 100%;
  /* min-height: 100px; */
  /* min-height: 100vh; */
}
.image {
  pointer-events: none;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.swiper-slide {
  position: relative;
  margin: auto;
}
.swiper-pagination {
  width: 50% !important;
}
.scroller {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 100;
  transition: all 1s ease-in-out;
}
.button-small {
  @apply p-2;
  @apply bg-blue-800;
  @apply text-white;
  @apply rounded-xl;
  min-width: 50px;
  border: 3px solid;
  border-color: rgba(0, 0, 0, 0);
  transition: all 500ms ease-in-out;
}
.btn-group {
  @apply flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  overflow: auto;
  flex-wrap: wrap;
  position: relative;
  /* flex-grow: 1; */
  padding: 0 1rem;
}
.button {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 1;
  transition: all 500ms ease-in-out;
}
.button:hover,
.button-small:hover {
  @apply bg-blue-600;
  @apply text-white !important;
}
.isSelected {
  @apply bg-[#E1CEB5];
  @apply border-blue-700 !important;
  border: 3px solid;
  @apply text-blue-700 !important;
}
/* parent */
.technologies {
  @apply p-6;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  width: 100%;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  height: inherit;
  flex-basis: 100%;
}
/* child */
.technologies .card {
  @apply p-3;
  min-width: 10%;
  flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 150px;
  max-height: 150px;
  max-width: 10rem;
  min-width: 9.5rem;
}
.technologies .card h5,
.tech {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tech-container {
  overflow: hidden;
  width: 100%;
  min-height: 50vh;
}
.screen {
  @apply overflow-auto h-screen scrollbar-none;
  scroll-snap-align: start;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh !important;
}
.active {
  background-color: #ffe7cc !important;
  color: black !important;
}
.active:hover {
  color: black !important;
}
.about {
  background-color: #ffe7cc;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%233E6D9C'/%3E%3Cstop offset='1' stop-color='%233E6D9C'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%233E6D9C'/%3E%3Cstop offset='1' stop-color='%233E6D9C'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='9.899999999999999'%3E%3Cpath transform='translate(-185.5 -13.600000000000001) rotate(-23.5 1409 581) scale(0.7462)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='3.3000000000000003' transform='translate(-316 166) rotate(-0.1999999999999993 800 450) scale(0.9813499999999998)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-10.600000000000001 -48) rotate(-52 401 736) scale(0.9813499999999998)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='3'%3E%3Cpath transform='translate(996 33.6) rotate(-8.4 150 345) scale(1.0274)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='6.6000000000000005' transform='translate(-114 -465) rotate(-122.4 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-436 92) rotate(-20.4 1400 132) scale(0.5)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url("./assets/shapes.png");
  /* set to background fixed */
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}
/* LOADING ANIMATION STUFF */
.lds-ellipsis {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
